<launch>
  <!-- Arguments -->
  <arg name="model" default="turtlebot5" />
  <arg name="configuration_basename" default="turtlebot3_lds_2d.lua"/>

  <!-- slam_karto -->
  <node pkg="slam_karto" type="slam_karto" name="slam_karto" output="screen">
    <rosparam command="load" file="$(find turtlebot5)/config/karto_mapper_params.yaml" />
  </node>
</launch>