<?xml version="1.0"?>
<launch>

    <include file="$(find capstone_world)/launch/capstone_simulation_updated.launch">
    </include>

    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    </include>

    <include file="$(find ie_communication)/launch/lch.launch">
    </include>

   
    
    <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
    </include>
    
</launch>   