<launch>
    <!-- Include the empty Gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_ros)/worlds/empty.world"/>
  </include>
  <!-- Launch Gazebo -->
  <!-- node name="gazebo" pkg="gazebo_ros" type="gzserver" args="-s libgazebo_ros_factory.so" output="screen"/ -->

  <!-- Launch Gazebo client (optional) -->
  <!-- node name="gazebo_client" pkg="gazebo_ros" type="gzclient" output="screen" / -->

  <!-- Spawn the robot -->
  <param name="robot_description" command="$(find xacro)/xacro $(find my_robot_description)/urdf/my_robot.urdf.xacro" />
 <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model my_robot -x 0 -y 0 -z 0.5" />
</launch>

